<%- include('adminHeader')%>
<body>
<header class="container-fluid">
   <img width=40 src="../images/logo2.png"><span style="color:#fff">RH CMS</span>
  <ul class="headerbar">
    <li><a href="/" target="_blank"><span class="glyphicon glyphicon-home"></span></a></li>
  </ul>
  <span class="user_panel"><img class="img-rounded" width=40 src="../images/pencil.png"> <%= user%> <a href="/admin/logout">退出</a></span>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#adminSidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
</header>

  <div class="sidebar" id="adminSidebar">
    <div class=" sidenav">
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
            </div>
          </form>
          <ul class="nav nav-pills nav-stacked">
            
            <li class="active"><a href="/admin/staff">CCF员工管理</a></li>
            <li><a href="/admin/room">会议室管理</a></li>
            <li><a href="/admin/allMeeting">全部会议列表</a></li>
            <li><a href="/admin/setOp">设置管理员</a></li>
          </ul><br>
          
        </div>
  </div>

<div class="container-fluid wrap">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12">
          ccf staff
        </div>
      </div>

      <div class="row">
      <div class="col-sm-6">
      <table class="staffTable"><tr><td style="padding:6px 12px"><b>序号</b></td><td style="padding:6px 12px"><b>邮箱</b></td><td style="padding:6px 12px"><b>姓名</b></td><td style="padding:6px 12px"><b>部门</b></td><td style="padding:6px 12px"></td></tr>

      <% for(var i=0;i<staff.length;i++) { %> <tr><td class="staff_table" style="padding:6px 12px"><%- i+1%></td><td class="staff_table"><input class="form-control" type=text value=<%- staff[i]['mail']%>></td><td class="staff_table"><input class="form-control" style="width:100px;" type=text value=<%- staff[i]['name']%> ></td><td class="staff_table"><input class="form-control" style="width:100px;" type=text value=<%- staff[i]['department']%>></td><td style="padding:6px 12px"><a class="delStaff" href="./staff/del/<%- staff[i]['mail']%>" onclick="return false">删除</a></td></tr><% }%>
      </table>
      <div><a href="#prev" onclick="prevStaff()">上一页</a>  <a href="#next" onclick="nextStaff()">下一页</a></div>
      </div>
      <div class="col-sm-6"><table><tr><td colspan=2 style="padding:6px 12px">新增员工</td></tr><tr><td style="padding:6px 12px">邮箱：</td><td style="padding:6px 0px"><input type=text class="form-control newStaff newMail"></td></tr><tr><td style="padding:6px 12px">姓名：</td><td style="padding:6px 0px"><input type=text class="form-control newStaff newName"></td></tr><tr><td style="padding:6px 12px">部门：</td><td style="padding:6px 0px"><input type=text class="form-control newStaff newDepartment"></td></tr><tr><td colspan=2 align=right><a class="saveStaff btn btn-primary" href="#">保存</a></td></tr></table></div>
      </div>
    </div>
  </div>
</div>
<div id="dark">
</div>
 <div class="alert alert-info" id="alert">
      <a href="#" class="close" aria-label="close">&times;</a>
      <div style="padding:5px 0px;">确认删除员工？<br/></div>
     <button class="btn btn-info"  id="dellStaffCancel"  >取消</button><button class="btn btn-danger"  id="confirmDellStaff" style="float:right" onclick="confirmDelStaff()"  >删除</button>
    </div>
<script src="../js/brh.js"></script>
<%- include('footer')%>