<%- include('adminHeader')%>
<body>
<header class="container-fluid">
   <img width=40 src="../images/logo2.png"><span style="color:#fff">RH CMS</span>
  <ul class="headerbar">
    <li><a href="/" target="_blank"><span class="glyphicon glyphicon-home"></span></a></li>
  </ul>
  <span class="user_panel"><img class="img-rounded" width=40 src="../images/pencil.png"> <%= user%> <a href="/admin/logout">退出</a></span>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#adminSidebar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
</header>

  <div class="sidebar" id="adminSidebar">
    <div class=" sidenav">
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
            </div>
          </form>
          <ul class="nav nav-pills nav-stacked">
            
            <li class="active"><a href="/admin/staff">CCF员工管理</a></li>
            <li><a href="/admin/room">会议室管理</a></li>
            <li><a href="/admin/allMeeting">全部会议列表</a></li>
            <li><a href="/admin/setOp">设置管理员</a></li>
          </ul><br>
          
        </div>
  </div>

<div class="container-fluid wrap">
  <div class="row">
    <div class="col-sm-10">
      
      ccf staff<br/>
      <table><tr><td><b>序号</b></td><td><b>邮箱</b></td><td><b>姓名</b></td><td><b>部门</b></td></tr>

      <% for(var i=0;i<staff.length;i++) { %> <tr><td class="staff_table"><%- i+1%></td><td class="staff_table"><%- staff[i].split(':')[0]%></td><td class="staff_table"><%- staff[i].split(':')[1]%></td><td class="staff_table"><%- staff[i].split(':')[2]%></td></tr><% }%>
      </table>

    </div>
  </div>
</div>



<%- include('footer')%>