<%- include('header')%>

<div class="jumbotron" align="center">会议室预订</div>
    
    <div class="container">
    	<div class="row">
        	<div class="col-sm-12" style="padding:0px;z-index:1;">
            	<ul class="nav nav-tabs">
  					<li class="active" id="roomlab0"><a data-toggle="tab" href="#room1" onclick="javascript:location.href='/#0'">323会议室</a></li>
 					<li id="roomlab1"><a data-toggle="tab" href="#room2" onclick="javascript:location.href='/#1'">万事圆会议室</a></li>
          
          <a class="btn btn-primary book" href="/book" style="width:80px;">预 订</a>
  					</ul>
            </div>
        </div>
        <div class="row roomList">
    				<div class="col-sm-12"><font style="font-size:22px;">会议列表</font></div>
        </div>
        
         <div class="tab-content">
              <div id="room1" class="tab-pane fade in active" >
             
                    <% var roomZ=0;if(confList.length!=0){ var months=[];months.push({'room':confList[0]['roomId'],'month':confList[0]['date'].split('-')[1]});for(var j=1;j<confList.length;j++) {
                    if((confList[j-1]['roomId']==confList[j]['roomId'] && confList[j-1]['date'].split('-')[1]!=confList[j]['date'].split('-')[1])||(confList[j-1]['roomId']!=confList[j]['roomId'] ))
                      months.push({room:confList[j]['roomId'],month:confList[j]['date'].split('-')[1]});

                  } console.log(months);
                  for(j=0;j<months.length;j++){if(months[j]['room']==0){%>
                  <div class='row'><div class='col-sm-12' style="padding-left:20px;"><%- months[j]['month'].replace(/^0/,'') %>月</div></div>
                   <%for(var i=0;i<confList.length;i++){%>
                    <% if(confList[i]['roomId']==0&&confList[i]['date'].split('-')[1]==months[j]['month']){%>
                    <div class="row list">
                      <div class="col-sm-12 content_border" >
                        <div class="col-sm-3 content on" onclick="javascript:location.href='/update/:<%= confList[i]['_id'] %>#<%= confList[i]['roomId'] %>'"><%= confList[i]['date'].replace(/^\d{4}-/,'').replace(/^0/,'').replace('-','月')+'日' %>　<%= confList[i]['startTime'] %>-<%= confList[i]['endTime'] %></div>
                        <div class="col-sm-5 content on" onclick="javascript:location.href='/update/:<%= confList[i]['_id'] %>#<%= confList[i]['roomId'] %>'"><%= confList[i]['confName'] %></div>
                        <div class="col-sm-2 content on" onclick="javascript:location.href='/update/:<%= confList[i]['_id'] %>#<%= confList[i]['roomId'] %>'">预订人：<%= confList[i]['userName'] %></div>
                        <div class="col-sm-2 text-right"><a href="update/:<%= confList[i]['_id'] %>#0" class="btn btn-primary btn-xs op update">查看</a><a href="#<%= confList[i]['_id'] %>" class="btn btn-danger btn-xs op delConf"  onclick="return false">删除</a></div>
                      </div>
                  
                    </div>
                <%roomZ+=1;}} }}%>
                    
               <%}%>
               <% if(roomZ==0){%>
                <div class="row list">
                      <div class="col-sm-12">暂无预订会议!
                      </div>
                    </div>
               <%}%>
               
              
              
    				
                <div class="row">
                  <div class="col-sm-12 more"></div>
                </div>
              </div>
              <div id="room2" class="tab-pane fade">
                  <%var roomO=0;if(confList.length!=0){
                  for(j=0;j<months.length;j++){if(months[j]['room']==1){%>
                  <div class='row'><div class='col-sm-12' style="padding-left:20px;"><%- months[j]['month'].replace(/^0/,'') %>月</div></div>
                   <%for(var i=0;i<confList.length;i++){%>
                    <% if(confList[i]['roomId']==1&&confList[i]['date'].split('-')[1]==months[j]['month']){%>
                    <div class="row list">
                      <div class="col-sm-12 content_border" >
                        <div class="col-sm-3 content on" onclick="javascript:location.href='/update/:<%= confList[i]['_id'] %>#<%= confList[i]['roomId'] %>'"><%= confList[i]['date'].replace(/^\d{4}-/,'').replace(/^0/,'').replace('-','月')+'日' %>　<%= confList[i]['startTime'] %>-<%= confList[i]['endTime'] %></div>
                        <div class="col-sm-5 content on" onclick="javascript:location.href='/update/:<%= confList[i]['_id'] %>#<%= confList[i]['roomId'] %>'"><%= confList[i]['confName'] %></div>
                        <div class="col-sm-2 content on" onclick="javascript:location.href='/update/:<%= confList[i]['_id'] %>#<%= confList[i]['roomId'] %>'">预订人：<%= confList[i]['userName'] %></div>
                        <div class="col-sm-2 text-right"><a href="update/:<%= confList[i]['_id'] %>#1" class="btn btn-primary btn-xs op update">查看</a><a href="#<%= confList[i]['_id'] %>" class="btn btn-danger btn-xs op delConf"  onclick="return false">删除</a></div>
                      </div>

                    </div>
                <%roomO+=1;}} }}%>
                
               <%}%>
               <% if(roomO==0){%>
               <div class="row list">
                  <div class="col-sm-12">暂无预订会议!
                  </div>
                </div>
               <%}%>
               <div class="row">
                  <div class="col-sm-12 more"></div>
                </div>
              </div>
              
            </div>
            <%- include('copyright')%>
           
    </div>
    <div id="dark">
    </div>
    <div class="alert alert-danger" id="alert">
      <a href="#" class="close" aria-label="close">&times;</a>
      <font style="color:#3a3939">请输入操作码确认删除　　　　　</font><input style="margin:5px 0px;letter-spacing:2px;" type="text" class="form-control" id="getCode"><span id="closeNote"><a href="#" id="getCode2"> 获取操作码</a></span><button class="btn btn-danger btn-sm" id="delCon" onclick="delConf()" style="float:right;">删除</button>
    </div>

    
    </div>
    <div class="alert alert-info" id="alert2">
      <a href="#" class="close2" aria-label="close">&times;</a>
      <font style="color:#3a3939">请输入CCF邮箱地址接收操作码　</font><input style="margin:5px 0px;" type="text" class="form-control" id="bookEmail"><span id="sendNote"></span><button class="btn btn-info btn-sm"  id="sendCode" style="float:right" onclick="sendMail()" >发送</button>
    </div>


<%- include('footer')%>