<%- include('header')%>

<div class="jumbotron" align="center">会议室预订</div>
    
    <div class="container">
    	<div class="row">
        	<div class="col-sm-12" style="padding:0px;z-index:1;">
            	<ul class="nav nav-tabs">
  					<li class="active"><a data-toggle="tab" href="#room1">323会议室</a></li>
 					<li><a data-toggle="tab" href="#room2">万事圆会议室</a></li>
          <a class="btn btn-primary book" href="book" style="width:80px;">预 订</a>
  					</ul>
            </div>
        </div>
        <div class="row roomList">
    				<div class="col-sm-12"><font style="font-size:22px;">会议列表</font></div>
        </div>
        
         <div class="tab-content">
              <div id="room1" class="tab-pane fade in active">
             
               <% if (confList.length!=0){%>
                   <% for(var i=0,j=1;i<confList.length;i++){%>
                    <% if(confList[i]['roomId']==0){%>
                    <div class="row list">
                      <div class="col-sm-12 content_border">
                        <div class="col-sm-1 content">No.<%= j %></div>
                        <div class="col-sm-4 content"><%= confList[i]['confName'] %></div>
                        <div class="col-sm-3 content" ><%= confList[i]['date'].replace('2017-','').replace(/^0/,'').replace('-','月')+'日' %>　<%= confList[i]['startTime'] %>-<%= confList[i]['endTime'] %></div>
                        <div class="col-sm-2 content"><%= confList[i]['userName'] %>　预订</div>
                        <div class="col-sm-2 text-right"><a href="update/:<%= confList[i]['_id'] %>" class="btn btn-primary btn-xs op">修改</a><a href="delete/:<%= confList[i]['_id'] %>" class="btn btn-danger btn-xs op" id="delConf" onclick="return false">删除</a></div>
                      </div>

                    </div>
                <%j+=1;}%>
               <%}%>
               
               <%} else{%>
               <div class="row list">
                  <div class="col-sm-12">暂无预订会议!
                  </div>
                </div>
               <%}%>
              
    				
                <div class="row">
                  <div class="col-sm-12 more"></div>
                </div>
              </div>
              <div id="room2" class="tab-pane fade">
                  <% if (confList.length!=0){%>
                   <% for(var i=0,j=1;i<confList.length;i++){%>
                    <% if(confList[i]['roomId']==1){%>
                    <div class="row list">
                      <div class="col-sm-12 content_border">
                        <div class="col-sm-1 content">No.<%= j %></div>
                        <div class="col-sm-4 content"><%= confList[i]['confName'] %></div>
                        <div class="col-sm-3 content" ><%= confList[i]['date'].replace('2017-','').replace(/^0/,'').replace('-','月')+'日' %>　<%= confList[i]['startTime'] %>-<%= confList[i]['endTime'] %></div>
                        <div class="col-sm-2 content"><%= confList[i]['userName'] %>　预订</div>
                        <div class="col-sm-2 text-right"><a href="update/:<%= confList[i]['_id'] %>" class="btn btn-primary btn-xs op">修改</a><a href="#" class="btn btn-danger btn-xs op" id="delConf" onclick="return false">删除</a></div>
                      </div>

                    </div>
                <%j+=1;}%>
               <%}%>
               
               <%} else{%>
               <div class="row list">
                  <div class="col-sm-12">暂无预订会议!
                  </div>
                </div>
               <%}%>


              </div>
              
            </div>
            <div class="row">
              <div class="col-sm-12" style="background:#fff;border-top:#fff 6px solid;"></div>
            </div>
    </div>
    <div id="dark">
    </div>
    <div class="alert alert-danger" id="alert">
      <a href="#" class="close" aria-label="close">&times;</a>
      <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
    </div>
<%- include('footer')%>