<%- include('header')%>

<div class="jumbotron" align="center">会议室预订</div>
    
    <div class="container">

    	<div class="row">
        	<div class="col-sm-12" style="padding:0px;z-index:1;">
            	<ul class="nav nav-tabs">
  					<li class="active"><a data-toggle="tab" href="#room1">修改信息</a></li>
 					
          
          <a class="btn btn-primary book" href="/" id="backbtn" style="width:80px;">返 回</a>
  					</ul>
            </div>
        </div>
        <div class="row bookList" >
            
            <div class="col-sm-12" id="alreadyBook" style="display:none;"></div>
               
        </div>

        <div class="row bookList" style="padding-top:20px;">
    				
    				<div class="col-sm-2 col-sm-offset-1 text-right lb">操作码：</div><div class="col-sm-2"><input type="text" class="form-control needMsg" name="opCode" id="opCode" style="letter-spacing:2px;"></div>
    				<div class="col-sm-7 " style="position:relative;"><span id="opNote" class="glyphicon glyphicon-info-sign"　></span><span id="note"><em>◆</em>·获取每日操作功能的密码</span>　<a href="#" class="btn btn-primary btn-xs op" id="getCode">获取操作码</a></div>
    				
            
        </div>
        <div class="row bookList">
                    
                    <div class="col-sm-2 col-sm-offset-1 text-right lb">会议室：</div>
                    <div class="col-sm-3"><select class="form-control needMsg" name="roomNum" id="roomNum">
                    <option value="0">323会议室</option>
                    <option value="1">万事圆会议室</option>
    
                    </select><script>document.getElementById("roomNum").options[<%- confList[0]['roomId']%>].selected = true; </script>
                    </div>
                    <div class="col-sm-8"></div>
                    
            
        </div>
        <div class="row bookList">
    				
    				<div class="col-sm-2 col-sm-offset-1 text-right lb">会议名称：</div><div class="col-sm-5"><input type="text" class="form-control needMsg" name="meetingName" id="meetingName" value=<%- confList[0]['confName']%>></div>
    				<div class="col-sm-4"></div>
    				
            
        </div>
        
        
        <div class="row bookList">
                    
                    <div class="col-sm-2 col-sm-offset-1 text-right lb">会议时间：</div><div class="col-sm-3"><input type="text" placeholder="起始时间" class="form-control needMsg" name="startTime" id="startTime" value="<%- confList[0]['date']+' '+confList[0]['startTime']%>"></div><div class="col-sm-1 lb" style="width:20px;">~</div><div class="col-sm-3"><input type="text" placeholder="结束时间" disabled="disabled" class="form-control needMsg" name="endTime" id="endTime" value="<%- confList[0]['date']+' '+confList[0]['endTime']%>"></div>
                    <div class="col-sm-2 lb"><span id="timeNote" style="font-size:14px;color:red;display:none;"></span></div>
                    
            
        </div>

        <div class="row bookList">
    				
    				<div class="col-sm-2 col-sm-offset-1 text-right lb">预订人：</div><div class="col-sm-2"><input type="text" class="form-control needMsg" name="bookName" id="bookName" value="<%- confList[0]['userName']%>"></div>
    				<div class="col-sm-9"></div>
    				
            
        </div>
        <div class="row bookList">
    				
    				<div class="col-sm-2 col-sm-offset-1 text-right lb">备注：(选填)</div><div class="col-sm-6"><textarea rows=4 class="form-control" name="bookDetail" id="bookDetail"><%- confList[0]['remark']%></textarea></div>
    				<div class="col-sm-5"></div>
    				
            
        </div>
        <div class="row bookList">
    				<div class="col-sm-4"></div>
    				<div class="col-sm-4"> <a class="btn btn-primary book" id="book" style="width:100%;" onclick="msgUpdate()">保存修改</a></div>
    				
    				<div class="col-sm-4"></div>
    				
            
        </div>
       
        
              
    				
                <div class="row">
                  <div class="col-sm-12 more"></div>
                </div>
              
              
              
          <%- include('copyright')%>
    </div>
    <div id="dark">
    </div>
    <div id="dark2">
    </div>
    <div class="alert alert-info" id="alert">
      <a href="#" class="close" aria-label="close">&times;</a>
      <font style="color:#3a3939">请输入CCF邮箱地址接收操作码　</font><input style="margin:5px 2px;" type="text" class="form-control" id="bookEmail"><span id="sendNote"></span><button class="btn btn-info"  id="sendCode" style="float:right" onclick="sendMail()"  >发送</button>
    </div>

    <div class="alert alert-info"  id="success">
      
      <font style="color:#3a3939">:) 会议修改成功</font><div></div><button class="btn btn-info" style="float:right;" onclick="javascript:location.href='/'"  >关闭</button>
    </div>

    <script>
    
    $.datetimepicker.setLocale('ch');
    
    $('#startTime').datetimepicker({
    	format:'Y-m-d H:i',
    	minDate:0,
    	step:30,
        allowTimes:['07:00','07:30','08:00','08:30','09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30','19:00','19:30','20:00'],

    });
    $('#endTime').datetimepicker({
    	format:'Y-m-d H:i',
    	minDate:0,
    	step:30,
        allowTimes:['07:00','07:30','08:00','08:30','09:00','09:30','10:00','10:30','11:00','11:30','12:00','12:30','13:00','13:30','14:00','14:30','15:00','15:30','16:00','16:30','17:00','17:30','18:00','18:30','19:00','19:30','20:00'],
    });



</script>

<%- include('footer')%>